@keyframes base-rotate {
  0% {
    background-color: oklch(0.85 0.18 330);
  }

  20% {
    background-color: oklch(0.85 0.18 350);
  }

  40% {
    background-color: oklch(0.85 0.18 10);
  }

  60% {
    background-color: oklch(0.85 0.18 280);
  }

  80% {
    background-color: oklch(0.85 0.18 300);
  }

  100% {
    background-color: oklch(0.85 0.18 330);
  }
}

@keyframes color-rotate {
  0% {
    background-color: oklch(0.85 0.18 200);
  }

  20% {
    background-color: oklch(0.85 0.18 240);
  }

  40% {
    background-color: oklch(0.85 0.18 280);
  }

  60% {
    background-color: oklch(0.85 0.18 220);
  }

  80% {
    background-color: oklch(0.85 0.18 160);
  }

  100% {
    background-color: oklch(0.85 0.18 200);
  }
}

.rainbow {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
}

.base,
.color,
.blend {
  position: absolute;
  filter: blur(100px);
}

.base {
  animation: base-rotate 60s linear infinite;
  transform: translateX(30dvw) translateY(-10dvh);
  width: 90dvh;
  height: 90dvh;
  border-radius: 100%;
  opacity: 0.5;
}

.color {
  animation: color-rotate 60s linear infinite;
  transform: translateX(30dvw) translateY(20dvw) rotate(5deg);
  width: 70dvh;
  height: 60dvh;
  border-radius: 100%;
  mix-blend-mode: color;
  opacity: 0.6;
}

.blend {
  transform: translateX(30dvw) translateY(30dvw) rotate(-20deg);
  width: 80dvh;
  height: 40dvh;
  border-radius: 100%;
  background-color: oklch(0.88 0.17 85.89);
  mix-blend-mode: plus-lighter;
}

.noise {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(/noise.png) repeat top right;
  background-size: 40%;
  mix-blend-mode: soft-light;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .base,
  .color,
  .blend {
    filter: blur(150px);
  }

  .base {
    transform: translateX(50dvw) translateY(-10dvh);
    width: 70dvw;
    height: 70dvw;
  }

  .color {
    transform: translateX(50dvw) translateY(20dvw) rotate(5deg);
    width: 60dvw;
    height: 50dvw;
  }

  .blend {
    transform: translateX(55dvw) translateY(20dvw) rotate(-20deg);
    width: 20dvw;
    height: 40dvw;
  }
}
