.work-item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: oklch(0.6 0.05 359.05 / 0.05);
    border-radius: 0.75rem;
    overflow: hidden;

    & img,
    & picture {
        display: block;
        order: 2;
    }

    & a {
        text-decoration: none;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            inset: 0;
        }
    }

    & svg {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        width: 0.75rem;
        height: 0.75rem;

        & path {
            stroke-width: 0.075em;
            stroke: var(--foreground-secondary);
        }
    }

    &:hover {
        & .work-item__caption p {
            color: var(--foreground);
        }

        path {
            stroke: var(--foreground);
        }
    }
}

.work-item__caption {
    order: 1;
    padding: 1rem 4.5rem 0 1rem;

    & p {
        font-size: 0.875rem;
        color: var(--foreground-secondary);
        text-wrap: pretty;
    }
}
