.casestudy {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--space) * 1.25);
    padding-inline: var(--gutter);

    .content {
        max-width: 75ch;
        margin-inline: auto;
        padding-bottom: 5vw;
    }

    .eyebrow {
        color: var(--foreground-secondary);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.02em;
    }

    & h1 {
        font-size: 3rem;
        line-height: 1;
        letter-spacing: -0.03em;
    }

    & h2 {
        margin-block-start: 1em;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    & h3 {
        margin-block-start: 0.75em;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.02em;
    }

    & p {
        margin-block-start: 0.75em;
        line-height: 1.4;

        &.lede {
            font-size: 1.25em;
            line-height: 1.3;
        }
    }
}
