.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vw;
    padding-inline: var(--gutter);

    & h1 {
        font-size: 2.5rem;
        letter-spacing: -0.02em;
        line-height: 1;
        text-wrap: pretty;

        & a {
            text-underline-offset: 0.075em;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--space) * 1.25);
    max-width: 75ch;
    margin-inline: auto;

    & p {
        font-size: 1.1rem;
        line-height: 1.4;
        letter-spacing: 0.01em;
        text-wrap: pretty;
    }
}

.work {
    display: grid;
    gap: var(--gutter);
    max-width: 100ch;

    & img {
        width: 100%;
        height: auto;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
