package pages

import (
	"max.shearer.co/frontend/components"
	"max.shearer.co/frontend/layouts"
)

templ Index() {
	@layouts.Default(layouts.LayoutProps{
		PageID: "index",
		Stylesheets: []string{
			"index.css",
		},
	}) {
		<div class="index">
			<div class="content">
				<h1>Making nice things for mobile and the web. Building <a href="https://waywi.se">Waywise</a> at the moment.</h1>
				<p>
					I&rsquo;ve been a professional web tinkerer for over 15 years. The technologies I&rsquo;m having the most fun with right now are React Native, Go, Supabase and all of the AI goodies that are in vogue at the moment.
				</p>
				<p>
					Day-to-day I work as a design engineer at <a href="https://www.openrent.co.uk" rel="nofollow">OpenRent</a>, a property tech business changing the lettings industry for good.
				</p>
				<p>In my spare time I&rsquo;m building Waywise, an AI-generated travel guidebook for iOS to allow travellers to explore cities in a more personal and socially responsible way.</p>
			</div>
			<section class="work">
				@components.WorkItem(components.WorkItemProps{
					ID:       "waywise",
					Label:    "Waywise: an AI-generated travel guidebook for iOS",
					Filename: "waywise",
					Width:    1000,
					Height:   600,
					AltText:  "Three mobile phone mockups with Waywise travel app displayed",
				})
				@components.WorkItem(components.WorkItemProps{
					ID:       "yard-poker",
					Label:    "Yard Poker: texas hold&rsquo;em poker app for friends",
					Filename: "yard-poker",
					Width:    1000,
					Height:   600,
					AltText:  "Mockup of a laptop displaying the Yard Poker web app",
				})
				@components.WorkItem(components.WorkItemProps{
					ID:       "think-shape",
					Label:    "Think Shape: fashion app empowering people to buy less and buy better",
					Filename: "think-shape",
					Width:    1000,
					Height:   600,
					AltText:  "Scattered iPhone mockups displaying various screens of the Think Shape app",
				})
				@components.WorkItem(components.WorkItemProps{
					ID:       "rest-easy-radio",
					Label:    "Rest Easy Radio for Premier Inn: 24-hour restful sounds from the British countryside",
					Filename: "premier-inn",
					Width:    1000,
					Height:   600,
					AltText:  "Mockup of a laptop displaying the Premier Inn Rest Easy Radio website",
				})
			</section>
		</div>
	}
}
