.page {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 75ch;

    & p {
        line-height: 1.4;
        letter-spacing: 0.01em;
        text-wrap: pretty;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.name {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
}

.subtitle {
    color: var(--foreground-secondary);

    & a {
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-thickness: 0.075em;
        text-decoration-color: var(--foreground-underline);

        &:hover {
            text-decoration-color: var(--foreground);
            color: var(--foreground);
        }
    }
}

.social,
.nav {
    & ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        @media (min-width: 768px) {
            justify-content: flex-start;
        }
    }

    & li {
    }

    & a,
    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--foreground);

        &:focus-visible {
            outline: 0.25rem solid rgba(0 0 0 / 0.1);
            box-shadow: none;
        }

        & span {
            text-decoration: underline;
            text-decoration-color: var(--foreground-underline);
            text-underline-offset: 0.2em;
            text-decoration-thickness: 0.075em;
        }

        &:hover span {
            text-decoration-color: var(--foreground);
        }

        & svg {
            fill: var(--foreground-secondary);
            width: 1rem;
            height: 1rem;
        }

        &:hover svg {
            fill: var(--foreground);
        }
    }
}

.social {
    & ul {
        gap: 0.5rem;
    }
}

.nav {
    & ul {
        gap: 0.75rem;
    }
}
