
.container {
  position: relative;
  height: 100dvh;
  overflow: hidden;
}

.page {
  display: grid;
  position: relative;
  z-index: 1;
  height: 100dvh;
  overflow: auto;

  @media (min-width: 1200px) {
    grid-template-columns: 1.25fr 1fr;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100dvw;
  row-gap: 1.5rem;
  padding: 7.5vw;

  & p {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 500;
  }
}

.title {
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.0125em;

  & strong {
    font-weight: 700;
  }

  & a {
    text-decoration: underline;
  }
}

.nav {
  & ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & a, & button {
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid var(--foreground);
    border-radius: 1.5rem;
    color: var(--foreground);
    font-family: var(--font-inter-display);
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;

    &:focus {
      outline: 0.25rem solid rgba(0,0,0,0.1);
      box-shadow: none;
    }

    & svg {
      fill: var(--foreground);
    }
  }
}

.work {

}


@keyframes rainbow-rotate {
  0% { fill: oklch(0.6 0.24 60); }
  16.67% { fill: oklch(0.6 0.24 120); }
  33.33% { fill: oklch(0.6 0.24 180); }
  50% { fill: oklch(0.6 0.24 240); }
  66.67% { fill: oklch(0.6 0.24 300); }
  83.33% { fill: oklch(0.6 0.24 360); }
  100% { fill: oklch(0.6 0.24 60); }
}

.rainbow {
  position: absolute;
  pointer-events: none;
  max-width: 100vw;
  left: -4vw;
  width: 75dvw;
  height: 100dvh;

  & svg {
    height: 100dvh;
  }

  & div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/noise.png) repeat;
    background-size: 40%;
    mix-blend-mode: soft-light;
  }
}

.blur {
  fill: oklch(0.6 0.24 60);
  animation: rainbow-rotate 60s linear infinite;
  opacity: 0.8;
}

.blend {
  mix-blend-mode: plus-lighter;
}