package components

type WorkItemProps struct {
	Label string
}

templ WorkItem(props WorkItemProps) {
	<link rel="stylesheet" href="http://localhost:5173/src/components/workitem.css"/>
	<figure class="work-item">
		{ children... }
		<figcaption class="work-item__caption">
			<p>{ props.Label }</p>
		</figcaption>
	</figure>
}
