package layouts

import (
	"fmt"
	"max.shearer.co/src/components"
)

type LayoutProps struct {
	Title      string
	Stylesheet string
	WorkItems  any
}

templ Default(props LayoutProps) {
	{{
		pageStylesheet := fmt.Sprintf("http://localhost:5173/src/pages/%s", props.Stylesheet)
		title := props.Title

		if title == "" {
			title = "Max Shearer - Designer and full(ish)-stack developer"
		}
	}}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<link rel="stylesheet" href="http://localhost:5173/src/styles/main.css"/>
			<link rel="stylesheet" href="http://localhost:5173/src/layouts/default.css"/>
			<link rel="stylesheet" href={ pageStylesheet }/>
			<meta name="description" content="Professional web tinkerer for over 15 years. Currently having fun with React Native, Go, Supabase and all the other shiny AI things that are in fashion at the moment."/>
			<meta property="og:image" content="/public/images/facebook-image.png"/>
			<meta property="twitter:image" content="/public/images/twitter-image.png"/>
			<meta property="twitter:card" content="summary_large_image"/>
			<script type="module" src="http://localhost:5173/@vite/client"></script>
			<script type="module" src="http://localhost:5173/src/scripts/main.ts"></script>
		</head>
		<body>
			<div class="container">
				<div class="rainbow">
					<div class="base"></div>
					<div class="color"></div>
					<div class="blend"></div>
					<div class="noise"></div>
				</div>
				<div class="default">
					<main class="main">
						{ children... }
					</main>
					<section class="work">
						@components.WorkItem(components.WorkItemProps{
							Label: "Waywise: an AI-generated travel guidebook for iOS",
						}) {
							<img src="/public/images/waywise.png" alt="Three mobile phone mockups with Waywise travel app displayed" width="1000" height="600"/>
						}
						@components.WorkItem(components.WorkItemProps{
							Label: "Yard Poker: texas hold&rsquo;em poker app for friends",
						}) {
							<img src="/public/images/yard-poker.png" alt="Mockup of a laptop displaying the Yard Poker web app" width="1000" height="600"/>
						}
						@components.WorkItem(components.WorkItemProps{
							Label: "Think Shape: fashion app empowering people to buy less and buy better",
						}) {
							<img src="/public/images/think-shape.png" alt="Scattered iPhone mockups displaying various screens of the Think Shape app" width="1000" height="600"/>
						}
						@components.WorkItem(components.WorkItemProps{
							Label: "Rest Easy Radio for Premier Inn: 24-hour restful sounds from the British countryside",
						}) {
							<img src="/public/images/premier-inn.png" alt="Mockup of a laptop displaying the Premier Inn Rest Easy Radio website" width="1000" height="600"/>
						}
					</section>
				</div>
			</div>
		</body>
	</html>
}
